<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/Bulut_icon.svg">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/pic.jpeg" alt="pic">
        </div>
        
      {{>footer}}
    </body>
    <footer>
       
    </footer>
</html>